h3{
    position: absolute;
    width: 453px;
    height: 65px;
    left: 160px;
    top: 100px;

    font-family: 'Trebuchet MS','Franklin Gothic Medium',Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 37px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px -6px 7px rgba(0, 0, 0, 0.25);
}
#login{
    position: absolute;
    width: 744px;
    height: 836px;
    left: 617px;
    top: 178px;

    background: #FF8228;
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
}

#email{
    
    position: absolute;
    width: 626px;
    height: 68px;
    left: 70px;
    top: 279px;
    font-family: 'Trebuchet MS','Franklin Gothic Medium',Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    text-align: center;


    background: #FFFFFF;
    box-shadow: inset 0px 0px 17px 1px rgba(0, 0, 0, 0.25);
    border-radius: 31px;

}

#password{
    position: absolute;
    width: 626px;
    height: 68px;
    left: 70px;
    top: 490px;
    font-family: 'Trebuchet MS','Franklin Gothic Medium',Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    text-align: center;

    background: #FFFFFF;
    box-shadow: inset 0px 0px 17px 1px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
}

#iniciar{
    position: absolute;
    width: 428px;
    height: 78px;
    left: 150px;
    top: 651px;
    
}

#textLogin{
    position: absolute;
    left: 40%;
    right: 24.07%;
    top: 23.08%;
    bottom: 23.08%;

    font-family: 'Trebuchet MS','Franklin Gothic Medium',Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    display: flex;
    align-items: center;
   

    color: #000000;

}